@model  LogSubmit.Models.Entry

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    
}



@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
 @Html.ValidationSummary(true)
<fieldset>
    <legend>@ViewBag.Title</legend>
       <div class="editor-label">
            @Html.LabelFor(model => model.Calsign)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Calsign)
            @Html.ValidationMessageFor(model => model.Calsign)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <input type="hidden" name="FileName" value="@Html.AttributeEncode(Model.FileName)"  />
        @if (Model != null && Model.Log != null && Model.FileName != null)
        {
             <input type="hidden" name="Log" value="@Html.AttributeEncode(Model.Log)"  />
        }
        else
        {
        <div class="editor-label">
            @Html.LabelFor(model => model.Log)
        </div>
        <div class="editor-field">
            <input name="log" id="Log" type="file"/>
            @Html.ValidationMessageFor(model => model.Log)
        </div>
        }
 
</fieldset>
    <p>
        <input name="Submit" type="submit" value="Verifica" />
    </p>

        if (ViewBag.Errors != null)
        {
    <p>
        @foreach (string error in ViewBag.Errors)
        {
            @error
            <br />
        }
        <table cellspacing ="15">
                     <tr>
                     <th>Status</th>
        <th>Frecventa</th>
        <th>Mod</th>
        <th>Data</th>
        <th>Indicativ</th>
        <th>RST</th>
        <th>Exchange</th>
        <th>Judet</th>
        <th>Indicativ</th>
        <th>RST</th>
        <th>Exchange</th>
        <th>Judet</th>
        </tr>
         @foreach (var qso in ViewBag.QSOS)
        {
             <tr>
             <td>
            <span style="color:Red">@{
            if(!qso.Valid){
                <text>Invalida</text>
            }            
            
                    }</span>
             </td>
           <td>
           @qso.Frequency
           </td>
             <td>
           @qso.Mode
           </td>
              <td>
           @qso.DateTime
           </td>
              <td>
           @qso.CallSign1
           </td>
           
               <td>
           @qso.RST1
           </td>
               <td>
           @qso.Exchange1
           </td>
              <td>
           @qso.County1
           </td>
             
             
              <td>
           @qso.CallSign2
           </td>
           
               <td>
           @qso.RST2
           </td>
               <td>
           @qso.Exchange2
           </td>
              <td>
           @qso.County2
           </td>
             </tr>
        }
        </table>
          <input name="Submit" type="submit" value="Trimite" />
          <input name="Submit" type="submit" value="Incarca alt log" />
    </p>    
    }
}